/*reset*/
body{
    margin:unset;
}

:root{
    background-image: url(images/bg.png);
}


.fox-wrapper{
    flex-direction: column;
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center;    /* 세로 가운데 정렬 */
    height: 100vh;         /* 뷰포트 높이 100% */

    min-width: 300px;
}

.fox-top{
    content:fit-content;
    background-image: url(images/animal07.png);
    
}

.fox-mid{
    
}

.fox-bottom{
    max-width: 300px;

    background-color: #9C6035;
    
}