/*reset*/
body,h1{
    margin:unset;
}

:root{
    background-image: url(images/bg.png);
}

h1,p{
    font-size: 14px;
    font-weight: normal;
}


.fox-wrapper{
    flex-direction: column;
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center;    /* 세로 가운데 정렬 */
    height: 100vh;         /* 뷰포트 높이 100% */

    min-width: 300px;
}


/*top*/
.fox-top{
    
}
.fox-img{
    
}

/*mid*/
.fox-mid{
    
}
.green-img{
    margin:-4px;
}

/*bottom*/
.fox-bottom{
    max-width: 300px;
    background-color: #9C6035;

    box-sizing: border-box;

    padding:20px;
}
.name{
    color:#FFFFFF;
    font-size: 36px;
    font-weight: bold;
    font-family: arial;
}
.info{
    color:#E8BC9C;
    font-size: 16x;
    font-weight: normal;
    font-family: arial;
}